.product-card {
    border: solid 1px black;
    border-radius: 16px;
    padding: 12px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

    .product-price{
        font-size:30px;
    }

    img {
        width: 200px;
    }
}